@import "tailwindcss";

/* Pro defaults */
:root { color-scheme: light; }
:root.dark { color-scheme: dark; }

html, body { height: 100%; }

body {
  @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100;
  @apply antialiased;
}

::selection {
  @apply bg-zinc-900 text-white dark:bg-zinc-100 dark:text-zinc-900;
}
